h1{
    margin: 0px 0px;
    font-size: 400%;
    font-weight: 900;
    font-style: normal;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(12, 74, 102);
}
h2 {
    margin: 8px 0px;
    font-size: 200%;
    font-weight: 600;
    font-style: normal;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(12, 74, 102);
}
div {
    margin: 60px 0px;
    font-size: 180%;
    font-weight: normal;
    font-style: normal;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
h3 {
    margin: -40px 0px;
    text-align: center;
    font-size: 16px; 
    font-style: normal;
    font-weight: bold;
}