h1{
    font-size: 400%;
    font-weight: 900;
    font-style: normal;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(12, 74, 102);
}
h2 {
    font-size: 200%;
    font-weight: 600;
    font-style: normal;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(12, 74, 102);
}
div {
    font-size: 180%;
    font-weight: normal;
    font-style: normal;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}